<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inflectra.RemoteLaunch.Engines.CommandLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inflectra.RemoteLaunch.Engines.CommandLine.Properties.Settings>
            <setting name="LogResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PassRegex" serializeAs="String">
                <value>Pass</value>
            </setting>
            <setting name="FailRegex" serializeAs="String">
                <value>Error|Fail|Fatal</value>
            </setting>
            <setting name="CautionRegex" serializeAs="String">
                <value>Warning|Caution</value>
            </setting>
            <setting name="BlockedRegex" serializeAs="String">
                <value>Blocked</value>
            </setting>
            <setting name="DefaultStatus" serializeAs="String">
                <value>2</value>
            </setting>
        </Inflectra.RemoteLaunch.Engines.CommandLine.Properties.Settings>
    </userSettings>
</configuration>